In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/steve/Downloads/pge_electric_interval_data_3326827046_2015-12-11_to_2015-12-17.csv', header=4)

In [3]:
del df['TYPE'], df['END TIME'], df['UNITS'], df['NOTES']

In [4]:
df.head()

         DATE START TIME  USAGE
0  2015-12-11      00:00   0.94
1  2015-12-11      01:00   0.97
2  2015-12-11      02:00   0.80
3  2015-12-11      03:00   1.15
4  2015-12-11      04:00   0.72

In [5]:
df['DATETIME'] = df['DATE'] + ' ' + df['START TIME']

In [6]:
del df['START TIME'], df['DATE']

In [7]:
df['DATETIME'] = pd.to_datetime(df['DATETIME'])

In [8]:
df.head()

   USAGE            DATETIME
0   0.94 2015-12-11 00:00:00
1   0.97 2015-12-11 01:00:00
2   0.80 2015-12-11 02:00:00
3   1.15 2015-12-11 03:00:00
4   0.72 2015-12-11 04:00:00

In [9]:
import plotly.plotly as py

In [10]:
grouped = df.groupby(df['DATETIME'].map(lambda t: t.hour))

In [25]:
z = grouped.mean()

In [30]:
z.head()

             USAGE
DATETIME
0         1.835714
1         1.491429
2         1.382857
3         1.075714
4         1.045714

In [14]:
import plotly.graph_objs as go

In [20]:
data = [
    go.Bar(
        x=df['DATETIME'], # assign x as the dataframe column 'x'
        y=df['USAGE']
    )
]

In [17]:
import plotly.tools as tls
tls.set_credentials_file(username='SSShupe', api_key='ezliufhfn5')

In [21]:
py.plot(data)

u'https://plot.ly/~SSShupe/101'

In [34]:
data2 = [
    go.Bar(
        x=z.index, # assign x as the dataframe column 'x'
        y=df['USAGE']
    )
]

In [35]:
py.plot(data2)

u'https://plot.ly/~SSShupe/103'