In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/steve/Downloads/DailyUsageData-2016-01-01/pge_to_2016-01-01.csv', header=4)

In [4]:
del df['TYPE'], df['END TIME'], df['UNITS'], df['NOTES']

In [5]:
df.head()

         DATE START TIME  USAGE
0  2015-12-01      00:00   0.99
1  2015-12-01      01:00   0.81
2  2015-12-01      02:00   1.09
3  2015-12-01      03:00   1.00
4  2015-12-01      04:00   1.33

In [6]:
df['DATETIME'] = df['DATE'] + ' ' + df['START TIME']

In [7]:
del df['START TIME'], df['DATE']

In [8]:
df['DATETIME'] = pd.to_datetime(df['DATETIME'])

In [9]:
df.head()

   USAGE            DATETIME
0   0.99 2015-12-01 00:00:00
1   0.81 2015-12-01 01:00:00
2   1.09 2015-12-01 02:00:00
3   1.00 2015-12-01 03:00:00
4   1.33 2015-12-01 04:00:00

In [10]:
import plotly.plotly as py

In [11]:
grouped = df.groupby(df['DATETIME'].map(lambda t: t.hour))

In [12]:
z = grouped.mean()

In [21]:
z.head()

             USAGE
DATETIME
0         1.492812
1         1.240625
2         1.140937
3         1.150000
4         1.113750

In [14]:
import plotly.graph_objs as go

In [15]:
data = [
    go.Bar(
        x=df['DATETIME'], # assign x as the dataframe column 'x'
        y=df['USAGE']
    )
]

In [16]:
import plotly.tools as tls
tls.set_credentials_file(username='xxxxxxx', api_key='xxxxxxx')

In [17]:
py.plot(data)

u'https://plot.ly/~SSShupe/108'

In [22]:
data2 = [
    go.Bar(
        x=z.index, # assign x as the dataframe column 'x'
        y=z['USAGE']
    )
]

In [23]:
py.plot(data2)

u'https://plot.ly/~SSShupe/112'