In [1]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [10]:
import pickle

In [11]:
import pandas as pd

In [12]:
df = pd.read_pickle('/home/steve/Documents/pgexml_june_nov15')

In [13]:
df.head()

            Timestamp   Wh  hourofday  dayofweek
0 2015-07-01 07:00:00  497          7          2
1 2015-07-01 08:00:00  473          8          2
2 2015-07-01 09:00:00  469          9          2
3 2015-07-01 10:00:00  439         10          2
4 2015-07-01 11:00:00  658         11          2

In [28]:
grp = df.groupby('hourofday')

In [30]:
grp.mean()

                    Wh  dayofweek
hourofday
0          1566.360759   3.037975
1          1828.240506   3.037975
2          1600.329114   3.037975
3          1669.335443   3.037975
4          1709.056962   3.037975
5          1410.715190   3.037975
6          1180.367089   3.037975
7          1072.893082   3.031447
8          1073.816456   3.012658
9           871.643312   2.993631
10          851.189873   3.012658
11          862.968354   3.012658
12         1039.696203   3.012658
13         1033.481013   3.012658
14         1163.613924   3.012658
15          977.310127   3.012658
16          807.177215   3.012658
17          782.474684   3.012658
18          935.588608   3.012658
19          879.981013   3.012658
20          922.050633   3.012658
21          932.670886   3.012658
22         1000.550633   3.012658
23         1301.183544   3.012658

ValueError: No axis named hourofday for object type <class 'pandas.core.frame.DataFrame'>

In [32]:
plot(grp.mean())

[<matplotlib.lines.Line2D at 0x7fd37eb97550>,
 <matplotlib.lines.Line2D at 0x7fd37eb97710>]

In [33]:
df.timestamp()

AttributeError: 'DataFrame' object has no attribute 'timestamp'

TypeError: 'Series' object is not callable